<<<<<<< HEAD:css/style.css
#pregunta{
	text-align: center;
}
#tag{
	margin-top: -17%;
}
#respuesta{
	margin-top: -1%;
}
#numPregunta{
	color: orange;
	margin-top: 32%;
	margin-left: 15%;
}
#cuerpoRespuesta{
	margin-left: -3%;
}
#letraRegistro{
	
}
#campoRegistro{
	width: 50%;
	
}
#modalRegistro{
	width: 85%;
	margin-left: 8%;
}

div.jumbotron {
	margin-top: 50px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* container width: 750px */
@media (min-width: 768px) { 
	div.jumbotron {
		margin-top: 0px;
	}
	
}

/* Medium devices (desktops, 992px and up) */
/* container width: 970 */
@media (min-width: 992px) {
	div.small-query {
		margin-bottom: 10px;
	}
}
	


/* Large devices (large desktops, 1200px and up) */
/* container width: 1170px */
@media (min-width: 1200px) {
	div.small-query {
		margin-bottom: 10px;
	}
}






=======
body {
    background: url(../../img/bg.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mierda{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


#panelLateral{
	margin-bottom: 17%;
}
#respuesta{
	margin-top: -1%;
}
#tuRespuesta{
	margin-bottom: 5%;
}
#enviarRespuesta{
	margin-top: 3%;
}
#numPregunta{
	color: orange;
	font-size: large;
}
#tag{
	margin-top: 2%;
}
#textArea{
  width: 850px; 
  min-width:850px; 
  max-width:850px; 

  height:100px; 
  min-height:100px;  
  max-height:100px;
}
#campoRegistro{
	width: 50%;
	
}
#modalRegistro{
	width: 85%;
	margin-left: 8%;
}

.fix-right-tabs li { 
	float: right;
	right: -2px; 
}

.no-padding-side {
	padding-left:0px;
	padding-right:0px;
}


#affix1.affix {
    top: 0px;
    width: inherit;
    position: fixed;
    z-index: 100;
}
#affix2.affix {
    top: 150px;
    position: fixed;
    z-index: 100;
}

hr.h-divider {
	border-top: 1px solid #000;
	margin-top: 0px;
	margin-bottom: 5px;	
}

div.jumbotron {
	margin-top: 50px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* container width: 750px */
@media (min-width: 768px) { 
	.affix{
		position: static;
	}
	
}

/* Medium devices (desktops, 992px and up) */
/* container width: 970 */
@media (min-width: 992px) {
	div.small-query {
		margin-bottom: 5px;
	}
}
	


/* Large devices (large desktops, 1200px and up) */
/* container width: 1170px */
@media (min-width: 1200px) {
	div.small-query {
		margin-bottom: 5px;
	}
}










>>>>>>> origin/master:bs/css/style.css
