body {
	
}

div#container {
	border: 5px solid black;
	
}

div#head {
	background-color: black;
	color: white;
}

div#links {
	background-color: lightgrey;
	
	
}

div#main {
	
	background-color: red;
	
}

div#news {
	background-color: lightgrey;
	
}

div#footer {
	background-color: black;
	
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* container width: 750px */
@media (min-width: 768px) { 
body {
		background-color: red;
	}
}

/* Medium devices (desktops, 992px and up) */
/* container width: 970 */
@media (min-width: 992px) {
body {
		background-color: yellow;
	}
}
	


/* Large devices (large desktops, 1200px and up) */
/* container width: 1170px */
@media (min-width: 1200px) {
body {
		background-color: green;
	}

}






