#panelLateral{
	margin-bottom: 17%;
}
#tag{
	margin-top: -17%;
}
#respuesta{
	margin-top: -1%;
}
#numPregunta{
	color: orange;
	margin-top: 32%;
	margin-left: 15%;
}
#cuerpoRespuesta{
	margin-left: -3%;
}
#letraRegistro{
	
}
#campoRegistro{
	width: 50%;
	
}
#modalRegistro{
	width: 85%;
	margin-left: 8%;
}

div.jumbotron {
	margin-top: 50px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* container width: 750px */
@media (min-width: 768px) { 
	div.jumbotron {
		margin-top: 0px;
	}
	
}

/* Medium devices (desktops, 992px and up) */
/* container width: 970 */
@media (min-width: 992px) {
	div.small-query {
		margin-bottom: 10px;
	}
}
	


/* Large devices (large desktops, 1200px and up) */
/* container width: 1170px */
@media (min-width: 1200px) {
	div.small-query {
		margin-bottom: 10px;
	}
}






