#panelLateral{
	margin-bottom: 17%;
}
#respuesta{
	margin-top: -1%;
}
#tuRespuesta{
	margin-bottom: 5%;
}
#enviarRespuesta{
	margin-top: 3%;
}
#numPregunta{
	color: orange;
	font-size: large;
}
#tag{
	margin-top: 2%;
}
#textArea{
  width: 850px; 
  min-width:850px; 
  max-width:850px; 

  height:100px; 
  min-height:100px;  
  max-height:100px;
}
#campoRegistro{
	width: 50%;
	
}
#modalRegistro{
	width: 85%;
	margin-left: 8%;
}

div.jumbotron {
	margin-top: 50px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* container width: 750px */
@media (min-width: 768px) { 
	div.jumbotron {
		margin-top: 0px;
	}
	
}

/* Medium devices (desktops, 992px and up) */
/* container width: 970 */
@media (min-width: 992px) {
	div.small-query {
		margin-bottom: 10px;
	}
}
	


/* Large devices (large desktops, 1200px and up) */
/* container width: 1170px */
@media (min-width: 1200px) {
	div.small-query {
		margin-bottom: 10px;
	}
}






