#panelLateral{
	margin-bottom: 17%;
}
#tag{
	margin-top: -17%;
}
#respuesta{
	margin-top: -1%;
}
#numPregunta{
	color: orange;
	margin-top: 32%;
	margin-left: 15%;
}
#cuerpoRespuesta{
	margin-left: -3%;
}




